{{#each tasks as |task|}}
  <section data-id="{{task.id}}" class="task-info">
    <h6>title:</h6>
      <p>
        {{#if task.title}}
          {{task.title}}
        {{else}}
          No title provided
        {{/if}}
      </p>
    <h6>description:</h6>
      <p>
        {{#if task.description}}
          {{task.description}}
        {{else}}
          No description provided.
        {{/if}}
      </p>
    <h6>deadline:</h6>
      <p>
        {{#if task.deadline}}
          {{task.deadline}}
        {{else}}
          No deadline provided.
        {{/if}}
      </p>
    <button class="btn btn-danger delete" data-id="{{task.id}}">Delete task</button>
    <button class="btn btn-primary update" data-id="{{task.id}}">Update task</button>
  </section>

{{/each}}
